.navWrapper {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

ul {
  list-style: none;
  display: flex;
}


li a {
    margin-top: 1em;
    display: block;
    margin: 2vw;
    font-size: 1em;
    text-decoration: none;
    font-size: 1em;
    color: white;
    border: 1px solid #fff;
    padding: 10px 10px;
    background-color: #519e8a;
  }

.btnWrapper {
    width: auto;
    margin-left: auto;
    margin-right: 40px;
}

.btnWrapper button {
    background-color: #519e8a;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 1em;
    margin-bottom: 0.25em;
    padding: 10px 10px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    border-radius: 100px;
    cursor: pointer;
}

.btnWrapper button:hover {
    color: #519e8a;
    background-color: #fff;
    border: 2px solid #519e8a;
}

.loginBtn {
    margin-right: 5px;
}

